<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://49.235.130.81:3306/online_chatroom?serverTimezone=Asia/Shanghai&amp;autoReconnect=true"/>
        <property name="username" value="root"/>
        <property name="password" value="damowangtxd1."/>
    </properties>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <!--输出SQL语句-->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="cn/dmwqaq/chat_room/mapper/UserMapper.xml"/>
    </mappers>
</configuration>